.card a:hover {
    text-decoration: none;
}

.news-list li::before {
    content: "ãƒ»";
    color: #fff;
}

@media screen and (max-width: 560px) {
    #carouselExampleControls h1 {
        font-size: 2rem;
    }
    #carouselExampleControls .btn {
        margin-top: 0 !important;
    }
}